services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    expose:
      - 9000
    networks:
      - default
      - dokploy-network

  nginx:
    image: nginx:alpine
    restart: always
    expose:
      - 80
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

networks:
  dokploy-network:
    external: true